@import "../vars.module.css";

.root {
    height: 100%;
    width: 100%;
    position: relative;
}

.gallery_header {
    background: white;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.gallery_header_title {
    font-size: 120%;
    padding: 8px 20px;
}

.gallery_filters {
    background: white;
}

.script_detail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -100px;
    background: white;
    border-radius: var(--border_radius);
    border: 1px solid var(--example_border_color);
    padding: 16px;

    display: grid;
    grid-template-columns: 24px auto 32px;
    grid-template-rows: 32px 48px 48px;
}

.script_card {
    background: white;
    border-radius: var(--border_radius);
    border: 1px solid var(--example_border_color);
    padding: 8px 16px;

    display: grid;
    grid-template-columns: 24px auto;
}

.example_icon {
    grid-row: 1;
    grid-column: 1;
}

.example_title {
    grid-row: 1;
    grid-column: 2;
    font-weight: 500;
    margin-left: 8px;
}

.example_description {
    grid-row: 2;
    grid-column: 1 / span 3;
}

.example_unfocus {
    grid-row: 1;
    grid-column: 3;
    padding: 0px!important;
}

.collection {
    padding: 8px 20px;
}

.collection_name {
    font-size: 100%;
    padding: 8px 0px;
}

.collection_grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.filter_grid {
    padding: 8px 20px 16px 20px;
    display: grid;
    grid-template-columns: repeat(9, 110px);
    grid-template-rows: auto;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
}

.filter_tag {
    padding: 2px;
    border-radius: var(--border_radius);
    font-size: 75%;
    background: rgb(80, 80, 80);
    color: white;
    text-align: center;;
}

.filter_tag_active {
    background: black!important;
}