@value v_cmdbar_bg: rgb(255, 255, 255);
@value v_cmdbar_board_bg: rgb(255, 255, 255);
@value v_border_color: rgb(220, 220, 220);
@value v_border_radius: 8px;
@value v_box_shadow_2: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.1);
@value v_cmd_hover_bg: rgb(80, 80, 80);
@value v_cmd_margin: 4px;
@value v_viztype_color: rgb(255, 255, 255);
@value v_viztype_hover_bg: rgb(40, 40, 40);
@value v_program_info_height: 40px;
@value v_board_bg: rgb(225, 225, 225);

.studio {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 50% auto;
}

.program {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 25% v_program_info_height calc(75% - v_program_info_height);
    grid-template-columns: 48px auto;
}

.program_info {
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1 / 3;

    padding: 0px 4px;
    display: flex;
    flex-direction: row;
    font-size: 90%;
    line-height: v_program_info_height;
    border-top: 1px solid v_border_color;

    background: white;
}

.program_info_entry {
    padding: 0px 4px;
}

.program_info_flex {
    flex: 1;
}

.program_info_divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 4px;
    margin-left: 4px;
    align-self: center;
    background-color: #ddd;
}

.program_graph {
    grid-row: 1;
    grid-column: 1 / 3;
}

.program_editor {
    grid-row: 3;
    grid-column: 2;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: rgb(229, 229, 229);
    border-top: 1px solid v_border_color;
}

.board {
    position: relative;
    display: flex;
    flex-flow: column;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    background-color: v_board_bg;
    border-left: 1px solid v_border_color;
}