@value v_border_color: rgb(238, 238, 238);
@value v_border_radius: 6px;
@value v_topbar_background: rgb(46, 46, 46);
@value v_box_shadow_2: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.1);

.studio {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 50% auto;
}

.topbar {
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-row: 1;
    grid-column: 1 / span 2;
    grid-template-columns:
        calc(220px + 48px) auto calc(2 * 48px + 48px) calc(2 * 48px);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.topbar_actionset {
    display: flex;
    flex-direction: row;
}

.topbar_action {
    width: 48px;
    height: 48px;
    display: grid;
}

.topbar_icon { justify-self: center; align-self: center; }
.topbar_icon path { fill: hsl(260, 15%, 40%); }
.topbar_icon circle { fill: hsl(260, 15%, 40%); }

.editor {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 50%;
    grid-template-columns: 48px auto;
    border-right: 1px solid v_border_color;
}

.editor_toolbar {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid v_border_color;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid v_border_color;
}

.editor_toolbar_tool {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    color: rgb(166, 166, 166);
    display: grid;
}
.editor_toolbar_tool.small_font { font-size: 9px !important; }
.editor_toolbar_icon { justify-self: center; align-self: center; }
.editor_toolbar_icon path { fill: rgb(166, 166, 166); }
.editor_toolbar_icon circle { fill: rgb(166, 166, 166); }

.editor_monaco {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: rgb(229, 229, 229);
    border-bottom: 1px solid v_border_color;
}

.editor_inspector {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.board {
    position: relative;
    display: flex;
    flex-flow: column;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    background-color: rgb(229, 229, 229);
}

.viztypes {
    grid-row: 2;
    grid-column: 4;
    border-left: 1px solid v_border_color;
}

.viztypes_charts { border-top: 1px solid v_border_color; }

.viztypes_viztype {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
}
.viztypes_icon { justify-self: center; align-self: center; }
.viztypes_icon path { fill: rgb(166, 166, 166); }
.viztypes_icon circle { fill: rgb(166, 166, 166); }

.properties {
    grid-row: 2;
    grid-column: 5;
    border-left: 1px solid v_border_color;
    display: flex;
    flex-direction: column;
}
.properties_header {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    height: 32px;

    padding: 0 12px;
    color: rgb(120, 120, 120);
    border-bottom: 1px solid v_border_color;
}

.input_toggle {
    position: absolute;
    right: 24px;
    bottom: 16px;
    height: 32px;

    background-color: rgb(0, 0, 0);
    border-radius: v_border_radius;
    background-color: v_topbar_background;
    box-shadow: v_box_shadow;

    display: flex;
    flex-direction: row;
}

.input_toggle.expanded {
    border-radius: v_border_radius 0 v_border_radius 0;
    box-shadow: none;
}

.border_right {
    border-right: 1px solid rgb(0, 0, 0);
}

.border_right_type {
    width: 48px;
    height: 100%;
    box-sizing: border-box;

    display: grid;
}

.border_right_icon { justify-self: center; align-self: center; }
.border_right_icon g { fill: rgb(166, 166, 166); }
.border_right_icon path { fill: rgb(166, 166, 166); }
.border_right_icon circle { fill: rgb(166, 166, 166); }
