@import './theme.scss';

body {
    margin: 0;
    padding: 0;

    -webkit-app-region: drag;
    width: 100vw;
    height: 100vh;

    font-family: 'Open Sans';
    font-size: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
}

#root {
    width: 100%;
    height: 100%;
}
