@import 'theme.scss';

.container {
    display: flex;
    flex-direction: row;

    background-color: $NAV_BG;

    color: rgb(255, 255, 255);

    line-height: 24px;
    text-align: center;
}

.brand {
    font-weight: 500;
    font-size: 0.75em;
    padding: 0 12px;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab_container {
    display: block;
}

.tab {
    position: relative;

    font-weight: 400;
    font-size: 0.75em;
    padding: 0px 12px;

    background-color: $NAV_TAB_BG;
    color: $NAV_TAB_FG;
    text-decoration: none;

    &:hover,
    &.active {
        background-color: $NAV_TAB_BG_ACTIVE;
        color: $NAV_TAB_FG_ACTIVE;
    }
}

.tab_name {
    display: block;
}
