$THEME_COLOR_1: rgb(43, 33, 86);
$THEME_COLOR_2: #5b63df;
$THEME_COLOR_3: #48f4c1;

$THEME_COLOR_BADGE: rgb(166, 166, 166);

$THEME_BORDER_RADIUS: 6px;
$THEME_BOX_SHADOW_LEVEL_1: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
$THEME_BOX_SHADOW_LEVEL_2: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 0, 0, 0.1);

$NAV_BG: rgb(0, 0, 0);
$NAV_TAB_BG: rgb(0, 0, 0);
$NAV_TAB_BG_ACTIVE: rgb(30, 30, 30);
$NAV_TAB_FG: rgb(255, 255, 255);
$NAV_TAB_FG_ACTIVE: rgb(255, 255, 255);
