@import '../../theme.scss';

.table {
    width: 100%;
    height: 100%;
    border-radius: $theme_border_radius;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
}

.table .ReactVirtualized__Grid {
    outline: none;
}
