.root {
}

.panel_header_title {
    margin-left: 16px;
    font-weight: 500;
    font-size: 0.9rem;
}

.catalog_viewer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.catalog_header {
    position: absolute;
    top: 8px;
    left: 16px;
}

.info_toggle {
    display: flex;
    flex-direction: column;
    width: 12px;
    border-left: 1px solid var(--border_color_primary);
    position: relative;
    background-color: white;
}

.info_toggle::after {
    content: "";
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 1px);
    height: 24px;
    width: 2px;
    background-color: hsl(208.5deg, 24.69%, 31.76%);
    border-radius: 8px;
}
