.root {
    position: relative;
    width: 240px;
}
.root_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--border_color_primary);
    z-index: -1;
}

.header {
    width: 100%;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr max-content;
    align-items: center;
    font-size: 0.95rem;
}
.header_title {
    padding: 0 16px;
}
.header_close {
    padding: 4px;
}

.catalog_metrics {
    border-top: 1px solid var(--border_color_primary);

    padding: 8px 16px;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 32px;

    font-weight: 400;
    font-size: 0.85rem;
}

.catalog_metric_key {
    grid-column: 1;
}

.catalog_metric_value {
    grid-column: 2;
    text-align: right;
    font-weight: 500;
    text-align: right;

    overflow: hidden;
    text-overflow: ellipsis;
}

