@mixin button {
    border-radius: $button_border_radius;
    box-sizing: border-box;
}

@mixin button-toggle {
    @include button;

    background-color: $button_background;
    color: $button_foreground;

    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent $button_border_color transparent;

    &:hover, &.active {
        background-color: $button_toggle_background;
        border: 1px solid $button_toggle_background;
        color: $button_toggle_foreground;
    }
}

@mixin iconbutton-toggle {
    @include button;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent $button_border_color transparent;

    background-color: $button_background;
    color: $button_foreground;

    .icon {
        path {
            fill: $button_foreground;
        }

        circle {
            fill: $button_foreground;
        }
    }

    &:hover, &.active {
        background-color: $button_toggle_background;
        border: 1px solid $button_toggle_background;
        color: $button_toggle_foreground;

        .icon {
            path {
                fill: $button_toggle_foreground;
            }

            circle {
                fill: $button_toggle_foreground;
            }
        }
    }
}

@mixin button-action {
    @include button;

    background-color: $action_background;
    color: rgb(255, 255, 255);
    border: 1px solid $action_background;
}

@mixin iconbutton-action {
    @include button-action;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .icon {
        path {
            fill: $action_foreground;
        }

        circle {
            fill: $action_foreground;
        }
    }
}
