@mixin button {
    border-radius: $button_border_radius;
    border: $border_default;
    box-sizing: border-box;
}

@mixin button-toggle {
    @include button;

    background-color: $button_background;
    color: $button_foreground;

    &:hover, &.active {
        background-color: $button_foreground;
        border: 1px solid $button_foreground;
        color: rgb(255, 255, 255);
    }
}

@mixin button-action {
    @include button;

    background-color: $action_background;
    color: rgb(255, 255, 255);
    border: 1px solid $action_background;

    &:hover, &.active {
        background-color: $action_background;
        border: 1px solid $action_background;
    }
}

@mixin iconbutton-toggle {
    @include button;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: $button_background;
    color: $button_foreground;

    .icon {
        path {
            fill: $button_foreground;
        }

        circle {
            fill: $button_foreground;
        }
    }

    &:hover, &.active {
        background-color: $button_foreground;
        border: 1px solid $button_foreground;
        color: rgb(255, 255, 255);

        .icon {
            path {
                fill: rgb(255, 255, 255);
            }

            circle {
                fill: rgb(255, 255, 255);
            }
        }
    }
}

@mixin iconbutton-action {
    @include button-action;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .icon {
        path {
            fill: $action_foreground;
        }

        circle {
            fill: $action_foreground;
        }
    }

    &:hover {
        background-color: $action_background;
        border: 1px solid $action_background;
        color: $action_foreground;
    }
}
