@import '../vars.module.css';

.toolbar {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid var(--border_color);
    background-color: rgb(255, 255, 255);
}

.tool {
    height: 36px;
    width: calc(100% - 8px);
    box-sizing: border-box;
    margin: 4px;
    border-radius: var(--border_radius);
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--studio_tool_fg);
}
.tool:hover {
    background-color: var(--studio_tool_hover_bg);
    color: rgb(255, 255, 255);
}

.tool.active {
    background-color: var(--studio_tool_hover_bg);
    color: rgb(255, 255, 255);
}

.tool_sublist {
    position: absolute;
    top: 48px;
    left: 47px;
    width: 48px;
    height: auto;
    background: var(--studio_tool_sublist_bg);
    border-radius: var(--border_radius);
}

.viztypes {
    grid-row: 2;
    grid-column: 4;
    border-left: 1px solid var(--border_color);
}
.viztypes_charts {
    border-top: 1px solid var(--border_color);
}
.viztype {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border_radius);
    color: var(--studio_viztype_fg);
    display: grid;
    justify-items: center;
    align-content: center;
}
.viztype:hover {
    background-color: var(--studio_viztype_hover_bg);
    color: white;
}
