@import '../vars.module.css';

.task_list_panel {
    background: var(--task_panel_bg);
    box-sizing: border-box;
    border-radius: var(--task_panel_border_radius);
    color: white;
}

.tasks {
    padding: 4px 0px;
}

.setup_tasks {
    padding: 4px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.program_tasks {
    padding: 4px 0px;
}

.task {
    display: grid;
    grid-template-columns: 20px auto 60px;
    grid-column-gap: 8px;
    padding: 2px 16px 2px 12px;
    font-size: 80%;
}

.task_status {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    content: white;
}

.task_type {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
}

.task_duration {
    grid-row: 1;
    grid-column: 3;
    text-align: right;
    color: var(--task_duration_color);
}

.task_detail {
}
