.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator_node {
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid hsl(210deg 17.5% 84.31%);
    padding: 2px 8px;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Mono";
    font-size: 0.85rem;
}
