.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.root_inner_container {
    position: relative;
}

.operator_edge_layer {
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(210deg 17.5% 74.31%);
}

.operator_layer {
    position: absolute;
    top: 0;
    left: 0;
}

.operator_node {
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid hsl(210deg 17.5% 84.31%);
    padding: 2px 8px;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Mono";
    font-size: 0.85rem;
}
