.entry_script_card {
    border-right-width: 1px;
    border-radius: var(--border_radius);
    border-color: var(--border_color_primary);
}

.entry_card_editor {
    position: relative;
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
}
