:root {
    --stats_bar_fg: hsl(210, 29%, 85%);
    --stats_bg: hsl(210, 29%, 95%);
    --stats_separator_color: hsl(210deg 17.5% 78.31%);
    --stats_value_fg: hsl(208.5deg 24.69% 31.76%);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--stats_bg);
}

.metric_container {
    position: relative;
    width: 80px;
}
.metric_container:not(:first-child) {
    border-left: 1px solid var(--stats_separator_color);
}

.metric_text_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;

    font-weight: 500;
    font-size: 0.7rem;
    color: var(--stats_value_fg);
}

.metric_name {
    padding-left: 4px;
    justify-self: begin;
}

.metric_last_reading {
    padding-right: 4px;
    justify-self: end;
}

.metric_history {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 100%;
    align-items: end;
}
