:root {
    --notebook_script_name_background: hsl(210deg 28.57% 95.25%);
}

.container {
    font-family: "Roboto Mono";
    font-size: 0.8rem;
}

.folder_name {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

.separator {
    padding: 0px 8px 0px 8px;
    color: hsl(210deg 17.5% 64.31%);
}

.file_icon {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    opacity: 0.6;
}

.file_name {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--notebook_script_name_background);
    border: 1px solid var(--border_color_primary);
    border-radius: 8px;
    padding: 2px 8px;
    font-weight: 500;
    text-transform: uppercase;
}
