.notebook_icon {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid hsl(210deg, 12%, 76%);
    background-color: hsl(210deg, 18%, 24%);
}

.filename {
    font-weight: 400;
}

.filename_ext {
    font-weight: 400;
}
