:root {
    --notebook_entry_list_left: 12px;
    --notebook_entry_list_right: 12px;
}

.entry_list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.entry_container {
    position: relative;
    padding: 4px var(--notebook_entry_list_right) 4px var(--notebook_entry_list_left);
}
.entry_container.selected::before {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0px;
    width: 4px;
    border-radius: 8px;
    background-color: hsl(212.44deg 92.07% 44.51%);
}
.entry_container:hover:not(.selected)::before {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0px;
    width: 4px;
    border-radius: 8px;
    background-color: hsl(212.44deg 40.07% 84.51%);
}

.entry_container:hover .entry_icon_container {
    opacity: 0.9;
}

.entry_icon_container {
    border-radius: var(--border_radius);
    /* border: 1px solid var(--border_color_primary); */
    /* background-color: hsl(210deg, 12%, 66%); */
    border: 1px solid hsl(210deg, 12%, 76%);
    background-color: hsl(210deg, 18%, 24%);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry_type_container {
    position: absolute;
    bottom: 2px;
    right: 8px;
    background-color: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid hsl(210deg 17.5% 84.31%);
}

.entry_list_modify_container {
    position: relative;
    padding: 4px var(--notebook_entry_list_right) 4px var(--notebook_entry_list_left);
}
.entry_add_button_container {}

.entry_delete_zone_container {
    width: 32px;
    height: 32px;
    padding: 0 8px;
    border-radius: 6px;
    /* border: 2px dashed hsl(355.84deg 71.78% 47.25%); */
    /* border: 2px dashed hsl(210deg 17.5% 79.31%); */
    /* color: hsl(355.84deg 71.78% 47.25%); */
    /* color: hsl(210deg 17.5% 44.31%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entry_delete_zone_container.over {
    border: 2px dashed hsl(355.84deg, 71.78%, 47.25%);
    background-color: hsla(355.84deg, 71.78%, 47.25%, 0.3);
    color: hsl(355.84deg 71.78% 47.25%);
}


.entry_key_name {}

.entry_feature_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.entry_feature {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    column-gap: 4px;
    font-size: 0.8rem;
    padding-left: 16px;
    padding-right: 8px;

    justify-content: start;
    align-items: center;
}

.entry_feature_name {
    grid-column: 1;

    border-radius: var(--border_radius);
    font-weight: 400;
    color: rgb(60, 60, 60);
}

.entry_feature_count {
    grid-column: 2;

    color: rgb(160, 160, 160);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0px 6px;
    background-color: hsl(210, 29%, 96%);
    border-radius: 4px;
}
