:root {
    --editor_header_bg: hsl(210, 29%, 97%);
    /* --editor_gutter_bg: rgb(246, 248, 250); */
    --editor_gutter_bg: white;
    --editor_colref_bg: hsl(210, 24%, 88%);
    --editor_deco_focused_bg: hsl(210, 24%, 90%);
    --editor_deco_cursor_bg: hsl(210, 24%, 80%);

    --editor_bg: rgb(255, 255, 255);
    --editor_uncommitted_bg: transparent;
}

.button_icon {
    pointer-events: none;
}

.editor {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    background-color: var(--editor_bg);
}

.uncommitted_editor {
    width: 100%;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--editor_uncommitted_bg);
}

.uncommitted_editor :global(.cm-editor) {
    height: auto;
}

.uncommitted_editor :global(.cm-scroller) {
    overflow: visible;
    max-height: none;
}

.uncommitted_editor :global(.cm-gutters) {
    border-right: none;
}

