:root {
    --conns_header_background: white;
    --conns_body_background: hsl(210, 29%, 97%);
    --conns_body_sidebar: linear-gradient(to right, hsl(210, 29%, 94%), hsl(210, 29%, 97%));
    --conns_tabs_background_active: hsl(210, 20%, 92%);
    --conns_tabs_foreground_active: var(--base_color_black);
    --conns_tabs_background_hover: hsl(210, 20%, 92%);
    --conns_tabs_disabled_color: hsl(210, 24%, 62%);
    --conns_tabs_indicator_color: rgb(254, 150, 0);
    --conns_max_width: 1200px;
}

.container {
    position: relative;
    box-sizing: border-box;
    background-color: var(--conns_header_background);
    width: 100%;
    height: 100%;

    border: 1px solid var(--log_border_color);
    border-radius: var(--border_radius);
    overflow: hidden;
}

.header_container {
    height: 48px;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
}
.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 2px;
}
.header_title {
    font-size: 1rem;
}

.body_container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 100%;
}

.connection_list {
    grid-row: 1;
    grid-column: 1;
    background: var(--conns_body_sidebar);
    padding: 8px 0px;

    height: 100%;
    overflow: auto;
}

.connection_section {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    overflow: auto;
    padding: 8px 0px;
}
.connection_section:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 16px;
    right: 0px;
    height: 1px;
    background-color: var(--border_color_primary);
}

.connector_group {
    position: relative;
    padding: 0px 0px 0px 16px;
}

.connector_group_head {
    border: 1px solid transparent;

}
.connector_group_head:hover > .connector_group_button {
    background-color: var(--conns_tabs_background_hover);
    border: 1px solid var(--border_color_primary);
}
.connector_group_head.selected > .connector_group_button {
    color: var(--conns_tabs_foreground_active);
    background-color: var(--conns_tabs_background_active) !important;
    border: 1px solid var(--border_color_primary);
}

.connector_group_button {
    -webkit-appearance: none;
    background: none;

    width: 100%;
    padding: 6px 24px 6px 8px;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content max-content;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--border_radius);
    border: 1px solid transparent;
    column-gap: 8px;
}
.connector_icon {
    color: var(--button_fg);
}
.connector_name {
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;
}

.connection_group_entries {
    padding: 4px 0px 8px 16px;
    display: flex;
    flex-direction: column;
}

.connection_group_entry {
    -webkit-appearance: none;
    background: none;

    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
    padding: 4px 4px 4px 4px;
    border-radius: var(--border_radius);
    border: 1px solid transparent;
    align-items: center;
}
.connection_group_entry:hover {
    background-color: var(--conns_tabs_background_hover);
    border: 1px solid var(--border_color_primary);
}
.connection_group_entry.selected {
    background-color: var(--conns_tabs_background_active) !important;
    border: 1px solid var(--border_color_primary);
}
.connection_group_entry_icon_container {
    grid-column: 1;
    display: flex;
}
.connection_group_entry_icon {
    /* border: 1px solid var(--border_color_primary); */
    border: 1px solid hsl(210deg, 12%, 76%);
    /* border: 1px solid hsl(210deg, 12%, 96%); */
    border-radius: 6px;
    overflow: hidden;
    /* background-color: hsl(210deg, 12%, 86%); */
    /* background-color: hsl(210deg, 29%, 97%); */
    /* background-color: hsl(210deg, 12%, 66%); */
    background-color: hsl(210deg, 18%, 24%);
}
.connection_group_entry_label {
    grid-column: 2;
    padding: 0px 8px 0px 0px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
}

.connection_settings_container {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--conns_body_background);
    padding: 16px;

    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection_settings_card {
    width: 100%;
    height: auto;
    max-width: var(--conns_max_width);

    border-radius: var(--border_radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border_color_primary);
    overflow: hidden;
}
