.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid var(--border_color_primary);
}

.connector_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.connector_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connector_name {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 500;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.status_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 36px;
    padding: 0 8px 8px 20px;
    border-bottom: 1px solid var(--border_color_primary);
}

.status_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.status_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.status_indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    height: 20px;
}

.status_indicator :global(svg) {
    width: 16px;
    height: 16px;
}

.status_text {
    font-size: 0.8rem;
    font-weight: 500;
}

.status_error {
    font-size: 0.8rem;
    font-weight: 300;
    color: #8c959f;
}

