.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body_container {
    flex: 1;
    height: 100%;
    background-color: white;
    overflow: auto;
    border-top: 1px solid var(--border_color_primary);
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.section:not(:first-child) {
    border-top: 1px solid var(--border_color_primary);
}
@media only screen and (max-width: 800px) {
    .section_layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: start;
    }
}
@media only screen and (min-width: 800px) {
    .section_layout {
        position: relative;
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 16px;
        align-items: start;
    }
}

.section_header {
    grid-column: 1 / span 2;
    padding: 4px 0;
}

.body_section_layout {
    padding: 16px 16px 32px 16px;
}

.grid_column_1 {
    grid-column: 1;
}

.grid_column_1_span_2 {
    grid-column: 1 / span 2;
}

.connector_body_container {
    min-height: 48px;
}
