:root {
    --log_cell_height: 32px;
}

.overlay {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
    border-top-right-radius: var(--border_radius);
    border-top-left-radius: var(--border_radius);
}

.header_left_container {
    grid-column: 1;
    margin-left: 16px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding: 0px 4px;
    overflow: hidden;
}

.title {
    font-size: 1rem;
}

.log_grid_container {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--log_background);
    border-radius: 0 0 var(--border_radius) var(--border_radius);

    font-family: 'Roboto Mono';
    font-size: 0.75rem;
}

.cell {
    max-width: 100%;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: var(--log_cell_height) 1fr;
    grid-template-columns: 100%;
    border-bottom: 1px solid var(--log_border_color);
    background-color: var(--log_cell_background);
}

.cell_timestamp {
    display: flex;
    justify-content: center;
    align-items: center;

    text-wrap: nowrap;
}

.cell_level {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    text-wrap: nowrap;
}
.cell_target {
    width: 100%;

    padding-left: 8px;
    padding-right: 2px;
    line-height: var(--log_cell_height);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell_message {
    width: 100%;

    padding-left: 8px;
    line-height: var(--log_cell_height);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell_details {
    padding-left: 8px;
    padding-right: 16px;
    height: 100%;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(auto-fill, 20px);
    column-gap: 8px;

    align-items: center;
}
.cell_details_key {
}
.cell_details_value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


