$theme_color_1: rgb(43, 33, 86);
$theme_color_2: #5B63DF;
$theme_color_3: #48F4C1;

$theme_border_radius: 3px;

$logo_background_color: rgb(43, 33, 86);

$background_color: rgb(200, 200, 200);
$background_line_color: rgb(192, 192, 192);

$card_background_color: rgb(235, 235, 235);
$card_border_radius: $theme_border_radius;
$card_border_radius_n: $card_border_radius $card_border_radius 0px 0px;
$card_border_radius_s: 0px 0px $card_border_radius $card_border_radius;

$status_background: #5B63DF;
$status_color: rgb(255, 255, 255);
$status_border: 1px solid $background_line_color;
$status_bean_toggle_color: $theme_color_1;
$status_bean_toggle_bg: rgb(255, 255, 255);

$button_border_color: rgb(220, 220, 220);
$button_border_radius: $theme_border_radius;
$button_foreground: $theme_color_1;
$button_background: transparent;
$button_toggle_foreground: rgb(255, 255, 255);
$button_toggle_background: $theme_color_1;

$action_background: $theme_color_2;
$action_foreground: rgb(255, 255, 255);

$border_color: rgb(240, 240, 240);
$border_default: 1px solid $border-color;

@import './theme/buttons.scss';
