:root {
    --action_duration_color: rgba(255, 255, 255, 0.6);
    --action_panel_bg: rgb(36, 41, 46);
    --action_panel_border_radius: 8px;
    --board_ruler_bg: rgb(255, 255, 255);
    --board_ruler_corner_bg: hsl(210deg 12% 93%);
    --board_ruler_size: 20px;
    --body_bg: hsl(210deg 4% 90%);
    --border_color: rgb(220, 220, 220);
    --border_radius: 8px;
    --cmd_bar_bg: rgb(255, 255, 255);
    --cmd_bar_board_bg: rgb(255, 255, 255);
    --cmd_bg: hsl(210deg 12% 96%);
    --cmd_border_color: rgb(200, 200, 200);
    --cmd_fg: rgb(36, 41, 46);
    --cmd_hover_bg: rgb(36, 41, 46);
    --cmd_margin: 4px;
    --cmd_sublist_bg: rgb(36, 41, 46);
    --datagrid_cell_anchor_bg: var(--board_ruler_corner_bg);
    --datagrid_cell_border: 1px solid rgb(225, 225, 225);
    --datagrid_cell_headers_bg: var(--board_ruler_corner_bg);
    --datagrid_cell_headers_border: 1px solid rgb(215, 215, 215);
    --datagrid_cell_headers_fg: rgb(0, 0, 0);
    --datagrid_cell_nodata_bg: rgb(225, 225, 225);
    --datagrid_col_label_bg: hsl(210deg 12% 85%);
    --datagrid_domain_bar_height: 6px;
    --datagrid_font_size: 95%;
    --editor_glyph_status_size: 65%;
    --example_border_color: rgb(200, 200, 200);
    --example_icon_color: rgb(36, 41, 46);
    --example_card_bg_disabled: hsl(210deg 6% 86%);
    --explorer_board_bg: var(--body_bg);
    --explorer_tool_fg: rgb(80, 80, 80);
    --explorer_tool_hover_bg: rgb(80, 80, 80);
    --explorer_tool_sublist_bg: rgb(80, 80, 80);
    --explorer_viztype_fg: rgb(255, 255, 255);
    --explorer_viztype_hover_bg: rgb(40, 40, 40);
    --launcher_bg: rgb(36, 41, 46);
    --log_timestamp_color: rgba(255, 255, 255, 0.6);
    --nav_bar_bg: rgb(36, 41, 46);
    --nav_bar_button_height: 48px;
    --nav_bar_button_margin: 4px 6px;
    --nav_bar_minimal_bg: transparent;
    --nav_bar_minimal_fg: rgb(25, 28, 31);
    --nav_bar_width: 64px;
    --nav_logo_height: 56px;
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: rgb(25, 28, 31);
    --nav_tab_fg: rgb(255, 255, 255);
    --nav_tab_fg_active: rgb(255, 255, 255);
    --pgraph_node_border_color: rgb(200, 200, 200);
    --pgraph_node_border_radius: 8px;
    --placeholder_avatar_bg: hsl(210deg 8% 86%);
    --placeholder_text_bg: hsl(210deg 8% 90%);
    --placeholder_script_bg: hsl(210deg 8% 86%);
    --statsbar_bg: rgb(255, 255, 255);
    --statsbar_views_teaser_bg: hsl(210deg 12% 96%);
    --sys_panel_bg: rgb(36, 41, 46);
    --sys_panel_border_radius: 8px;
    --sys_subtitle_color: rgba(255, 255, 255, 0.6);
    --sys_subtitle_fontsize: 90%;
    --system_bg: rgb(25, 28, 31);
    --system_bg_active: rgb(36, 41, 46);
    --system_bg_light: rgba(25, 28, 31, 0.05);
    --system_button_height: 40px;
    --system_button_margin: 4px 6px;
    --system_fg_active: rgb(255, 255, 255);
    --system_minimal_bg: transparent;
    --vizcard_border_color: rgb(200, 200, 200);
    --vizcard_header_bg: hsl(210deg 12% 96%);
    --vizcard_header_border: 1px solid rgb(215, 215, 215);
}
