.root {
    background-color: hsl(210, 29%, 97%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-radius: 8px;
}

.demo_section {
    padding: 16px;
    width: 100%;
    max-width: 1000px;
}

.demo_section_header {
    font-size: 1.1rem;
    padding: 8px 0 0 0;
}

.demo_section_body {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.demo_actions {
    display: flex;
    flex-direction: row;
}

.timeline_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.plan_container {
    display: flex;
    justify-content: center;
    width: 100%;
}
