.page {
    --notebook_body_background_color: hsl(210, 29%, 97%);
    --notebook_entry_max_width: 1104px;
    --notebook_list_entry_max_width: 900px;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    background-color: white;
    border-radius: var(--border_radius);
}

@media only screen and (min-width: 800px) {
    .page {
        background-color: var(--notebook_body_background_color);
    }
}

.shell_layer,
.shell_layer_hidden {
    position: absolute;
    inset: 0;
}

.shell_layer_hidden {
    visibility: hidden;
    pointer-events: none;
}
