@import '../../vars.module.css';

.cell_data {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_border);
    border-right: var(--datagrid_cell_border);
    position: relative;
}

.data_value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    align-items: center;
    justify-content: center;

    padding: 0 8px 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data_value_number {
    justify-content: end !important;
}

.data_value_text {
    justify-content: start !important;
}

.data_quotient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(245, 245, 245);
}
