[package]
name = "dashql-native"
version = "0.0.2-dev.17"
description = "SQL client for the Hyper database system and Salesforce Data Cloud"
edition = "2021"
rust-version = "1.70"
workspace = "../../"

[build-dependencies.tauri-build]
version = "2.4.1"
features = []

[build-dependencies.tonic-build]
version = "0.11"
features = []

[dependencies]
anyhow = "1.0.100"
byteorder = "1.5.0"
serde_json = "1.0.145"
tauri-plugin = "2.4.0"
tauri-plugin-updater = "2.9.0"
tauri-plugin-deep-link = "2.4.3"
tauri-plugin-log = "2.7.0"
tauri-plugin-shell = "2.3.1"
tauri-plugin-os = "2.3.1"
tauri-plugin-http = "2.5.2"
tauri-plugin-process = "2.3.0"
tauri-plugin-dialog = "2.4.0"
tauri-plugin-fs = "2.4.2"
hyper = "1.7.0"
http-body-util = "0.1.3"
http = "1.3.1"
tower-service = "0.3.3"
bytes = "1.10.1"
prost = "^0.12.6"
once_cell = "1.21.3"
lazy_static = "1.5.0"
url = "2.5.7"
env_logger = "0.11.8"
regex-automata = "0.4.13"
mime = "0.3.17"
futures-util = "0.3.31"
futures-core = "0.3.31"

[dependencies.log]
version = "0.4.28"
features = ["kv"]

[dependencies.hyper-util]
version = "0.1.17"
features = ["server"]

[dependencies.reqwest]
version = "^0.12.24"
features = ["stream"]

[dependencies.tonic]
version = "^0.11.0"
features = ["tls"]

[dependencies.serde]
version = "1.0.228"
features = ["derive"]

[dependencies.tauri]
version = "2.8.5"
features = []


[dependencies.tokio-stream]
version = "0.1.17"
features = [
    "net",
]

[dependencies.tokio]
version = "^1.47.1"
features = [
    "net",
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time"
]

[features]
custom-protocol = ["tauri/custom-protocol"]
