.highlight {
    background: yellow;
}

.editor {
    position: relative;
    min-height: 400px;
}

.run_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-bottom-left-radius: 4px;
    background: #e5e5e5;
    color: green;
    cursor: pointer;
    line-height: 1;
}
