@import '../theme.scss';

$border_color: rgb(238, 238, 238);

.entry {
    &:first-child {
        border-top: none;
    }

    display: flex;
    line-height: 1.2em;
    padding: 0.75em 0 0.75em 0.75em;
    border-top: 1px solid $border_color;
    color: rgb(120, 120, 120);
    cursor: pointer;

    &_delete {
        margin-left: auto;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 8px;
        user-select: none;
    }
}
