@import '../theme.scss';

$border_color: rgb(238, 238, 238);

.section {
    margin-bottom: 1rem;

    &_header {
        background-color: rgb(255, 255, 255);
        font-weight: 500;
        line-height: 32px;
        height: 32px;
        padding: 0 12px;

        // border-top: 1px solid $border_color;
        border-bottom: 1px solid $border_color;

        color: rgb(120, 120, 120);
    }
}
