@import '../theme.scss';

.launcher {
    background-color: $theme_color_1;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
}

.launcher_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.launcher_logo {
}

.launcher_logo img {
    width: 120px;
    height: 120px;
}

.launcher_header {
    font-weight: 500;
}

.launcher_build {
    margin-top: 2px;
}

.launcher_build_commit {
    color: $theme_color_3;
    font-weight: 600;
}

.launcher_spinner {
    position: fixed;
    bottom: 16px;
    right: 32px;
}

.launcher_spinner > .rectangle_wave_spinner {
    width: 40px;
    height: 40px;
}

.launcher_header {
    color: white;
    font-family: "Open Sans";
    font-size: 32px;
}

.launcher_progress {
    padding: 16px 0px;
}

.launcher_progress_step {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}

.launcher_progress_step_name {
    margin-left: 12px;
}

.launcher_progress_step_status {
    display: flex;
    flex-direction: row;
    align-items: center;
}
