@import '../theme.scss';

.navbar {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: $navbar_background;

    color: rgb(255, 255, 255);

    line-height: 24px;
    text-align: center;
}

.navbar_brand {
    font-weight: 500;
    font-size: 13px;
    padding: 0 12px;
}

.navbar_tabs {
    display: flex;
    flex-direction: row;
}

.navbar_tab_container {
}

.navbar_tab {
    position: relative;

    font-weight: 400;
    font-size: 13px;
    padding: 0px 12px;

    background-color: $navbar_tab_background;
    color: $navbar_tab_foreground;

    &:hover, &.active {
        background-color: $navbar_tab_background_active;
        color: $navbar_tab_foreground_active;
    }
}

.navbar_tab_name {
}

