@import '../theme.scss';

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-color: $card_background_color;
    border-right: $status_border;
    color: rgb(0, 0, 0);
}

.navbar-logo {
    width: 100%;
    padding: 8px 0px 16px 0px;
    border-radius: 0px 0px 3px 0px;
    margin-bottom: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $logo_background_color;
}

.navbar-logo img {
    width: 56px;
    height: 56px;
}

.navbar-tabs {
}

