@import '../theme.scss';

.navbar {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: $card_background_color;
    box-shadow: $navbar_box_shadow;

    color: rgb(0, 0, 0);
}

.navbar-logo {
    width: 56px;

    padding: 0px 8px 0px 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $logo_background_color;
}

.navbar-logo img {
    margin-top: -4px;
    width: 40px;
    height: 40px;
}

.navbar-tabs {
}

