@import '../theme.scss';

.router {
    height: 100%;
    width: 100%;
}

.router > .navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px !important;
}

.router > .statusbar {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.router_page_container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 24px;
    bottom: 0px;
}
