/* -------------------------------------------------------------------- */

.PulsingCircleSpinner {
    min-width: 8px;
    min-height: 8px;
}

.PulsingCircleSpinner-Outline {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(200, 212, 227);
}

.PulsingCircleSpinner-Circle {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: rgb(19, 156, 254);
    opacity: 0.0;
}

.PulsingCircleSpinner-State-0 > .PulsingCircleSpinner-Circle {
    animation: PulsingCircleSpinner-Scaleout 1.2s ease-in;
}

.PulsingCircleSpinner-State-1 > .PulsingCircleSpinner-Circle {
    animation: PulsingCircleSpinner-Scaleout 1.2s ease-in;
}

@keyframes PulsingCircleSpinner-Scaleout {
    0% {
        transform: scale(1.0);
        opacity: 1.0;
    } 80% {
        transform: scale(1.0);
        opacity: 1.0;
    } 100% {
        transform: scale(0.0);
        opacity: 0.0;
    }
}

/* -------------------------------------------------------------------- */

.rectangle_wave_spinner {
    display: flex;
    flex-direction: row;
}

.rectangle_wave_spinner > div {
    flex: 1 0 auto;
    margin: 0px 3%;
    height: 100%;
    border-radius: 3px;

    -webkit-animation: rectangle_wave_spinner_stretch 1.2s infinite ease-in-out;
    animation: rectangle_wave_spinner_stretch 1.2s infinite ease-in-out;
}

.rectangle_wave_spinner_rect_2 {
    -webkit-animation-delay: -1.1s !important;
    animation-delay: -1.1s !important;
}

.rectangle_wave_spinner_rect_3 {
    -webkit-animation-delay: -1.0s !important;
    animation-delay: -1.0s !important;
}

.rectangle_wave_spinner_rect_4 {
    -webkit-animation-delay: -0.9s !important;
    animation-delay: -0.9s !important;
}

.rectangle_wave_spinner_rect_5 {
    -webkit-animation-delay: -0.8s !important;
    animation-delay: -0.8s !important;
}

@-webkit-keyframes rectangle_wave_spinner_stretch {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes rectangle_wave_spinner_stretch {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* -------------------------------------------------------------------- */
