@import '../theme.scss';

.statusbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: rgb(0, 0, 0);

    font-weight: 400;
    font-size: 9pt;

}

.statusbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $status_background;
    border-radius: $card_border_radius;
    padding: 8px 4px;
}

.statusbar-bean {
    @include button-toggle;

    display: flex;
    flex-direction: row;
    height: 100%;

    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;

    font-size: 12px;
    line-height: 20px;
}

.statusbar-logstats-active {
    background-color: rgb(254, 80, 94);
}

.statusbar-logviewer {
    position: absolute;
    top: -300px;
    right: 0px;
    width: 600px;
    height: 300px;
}

.StatusBar-LogStat-Name {
    padding-left: 4px;
    padding-right: 4px;
}

.StatusBar-LogStat-Icon {
    width: 13px;
    height: 13px;
}

.StatusBar-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
