.statusbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: rgb(0, 0, 0);

    font-weight: 400;
    font-size: 9pt;

}

.statusbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 8px 4px;
}

.statusbar-bean {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(225, 225, 225);
    box-sizing: border-box;

    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;

    font-size: 12px;
    line-height: 20px;
}

.statusbar-bean:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.statusbar-logstats-active {
    background-color: rgb(254, 80, 94);
    border-radius: 0px 0px 4px 4px;
}

.statusbar-logviewer {
    position: absolute;
    top: -300px;
    right: 0px;
    width: 600px;
    height: 300px;
}

.StatusBar-LogStat-Name {
    padding-left: 4px;
    padding-right: 4px;
}

.StatusBar-LogStat-Icon {
    width: 13px;
    height: 13px;
}

.StatusBar-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
