@import '../theme.scss';

.statusbar {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: $status_color;

    font-weight: 400;
    font-size: 9pt;
}

.statusbar_spinner {
    background-color: $status_background;
    border-radius: $card_border_radius;
    box-shadow: $theme_box_shadow_level_2;

    padding: 4px 8px;
}

.statusbar_spinner > .rectangle_wave_spinner {
    width: 40px;
    height: 20px;
}

.statusbar_list {
    background-color: $status_background;
    border-radius: $card_border_radius;
    box-shadow: $theme_box_shadow_level_2;
    margin-bottom: 8px;
}

.statusbar_list_entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2px 8px;
    margin: 8px;
    font-size: 12px;
    line-height: 20px;

    border-radius: $button_border_radius;
    box-sizing: border-box;

    &:hover, &.active {
        background-color: $status_list_toggle_bg;
        color: $status_list_toggle_color;
    }
}

.statusbar_list_entry_label {
    font-weight: 500;
    flex: 1;
}

.statusbar_list_entry_value {
    margin-left: 16px;
}

.statusbar_list_entry_unit {
    margin-left: 2px;
    font-weight: 500;
}
