@import '../theme.scss';

.statusbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: $status_color;

    font-weight: 400;
    font-size: 9pt;

}

.statusbar_right {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $status_background;
    border-radius: $card_border_radius;
    padding: 4px 0px;
}

.statusbar_bean {
    display: flex;
    flex-direction: row;
    height: 100%;

    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;

    font-size: 12px;
    line-height: 20px;

    border-radius: $button_border_radius;
    box-sizing: border-box;

    &:hover, &.active {
        background-color: $status_bean_toggle_bg;
        color: $status_bean_toggle_color;
    }
}

.statusbar_logstats_active {
    background-color: rgb(254, 80, 94);
}

.statusbar_logviewer {
    position: absolute;
    top: -300px;
    right: 0px;
    width: 600px;
    height: 300px;
}
