@import '../theme.scss';

.tabbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
}

.tabbar_tab_container {
    height: auto;
    padding: 4px 8px;
    box-sizing: border-box;
}

.tabbar_tab {
    @include button-toggle;

    position: relative;

    font-weight: 400;
    font-size: 13px;
    padding: 2px 8px;
}

.tabbar_tab_name {
    line-height: 24px;
    text-align: center;
}

