@import '../theme.scss';

.terminal_borderbox {
    position: relative;
    height: 100%;
    width: 100%;

    border-radius: 4px;
    box-sizing: border-box;
    border: $border_default;

    background: rgb(0, 0, 0);
    padding: 16px;
}

.terminal_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.xterm-viewport {
    overflow-y: hidden !important;
}

