.container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32px calc(100% - 32px);
}

.header {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--vizcard_header_bg);
    border-bottom: var(--vizcard_header_border);
    border-radius: var(--border_radius) var(--border_radius) 0 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 40px;
}

.title {
    grid-row: 1;
    grid-column: 1;

    margin-left: 12px;
    font-weight: 500;

    display: grid;
    justify-content: start;
    align-items: center;
}

.settings {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80) !important;
}

.body {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.popper {
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: var(--border_radius);
}

.popper_arrow,
.popper_arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.popper_arrow {
    visibility: hidden;
}

.popper_arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.popper[data-popper-placement^='top'] > .popper_arrow {
    bottom: -4px;
}
.popper[data-popper-placement^='bottom'] > .popper_arrow {
    top: -4px;
}
.popper[data-popper-placement^='left'] > .popper_arrow {
    right: -4px;
}
.popper[data-popper-placement^='right'] > .popper_arrow {
    left: -4px;
}
