@value v_panel_border_radius: 8px;

.action_list_panel {
    background: red;
    box-sizing: border-box;
    margin: 8px;
    border-radius: v_panel_border_radius;
}

.actions {
    padding: 4px 0px;
}

.setup_actions {}
.program_actions {}

.action {
    display: grid;
    grid-template-columns: 24px 24px 6px 100px 48px;
    padding-left: 4px;
}

.action_header {
    text-align: left;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.action_type { 
}

.action_origin {
}

.action_expand {
    grid-row: 1;
    grid-column: 1;
}

.action_status {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    width: 100%;
    height: 100%;
}

.action_status > svg {
    justify-self: center;
    align-self: center;
}

.action_expand_icon {
    display: grid;
    width: 100%;
    height: 100%;
}

.action_expand_icon > svg {
    justify-self: center;
    align-self: center;
}

.action_type {
    grid-row: 1;
    grid-column: 4;
    text-align: left;
}

.action_detail {

}
