@value v_panel_border_radius: 8px;

.action_list_panel {
    background: red;
    box-sizing: border-box;
    margin: 8px;
    padding: 8px;
    border-radius: v_panel_border_radius;
}

.actions {
}

.setup_actions {}
.program_actions {}

.action {
    display: grid;
    grid-template-columns: 20px 100px 48px;
}

.action_header {
    text-align: left;
}

.action_type { 
}

.action_origin {
}

.action_toggle {
    grid-row: 1;
    grid-column: 1;
}

.action_status {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
}

.action_detail {

}
