@value v_panel_border_radius: 8px;
@value v_panel_bg: rgb(30, 30, 30);
@value v_subtitle_fontsize: 90%;
@value v_subtitle_color: rgba(255, 255, 255, 0.6);
@value v_action_duration_fontsize: 90%;
@value v_action_duration_color: rgba(255, 255, 255, 0.6);

.action_list_panel {
    background: v_panel_bg;
    box-sizing: border-box;
    border-radius: v_panel_border_radius;
    color: white;
}

.actions {
    padding: 8px 0px;
}

.setup_actions {}
.program_actions {}

.action {
    display: grid;
    grid-template-columns: 24px 24px 6px 160px 60px;
    padding: 4px;
}

.action_header {
    display: grid;
    grid-template-columns: calc(100% - 40px) 40px;
    grid-template-rows: auto auto;
    padding: 8px 8px 8px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.action_header_title {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    font-weight: 700;
    margin-bottom: -4px;
}

.action_header_subtitle {
    grid-column: 1;
    grid-row: 2;
    font-size: v_subtitle_fontsize;
    color: v_subtitle_color;
    text-align: left;
}

.action_close {
    grid-column: 2;
    grid-row: 1 / 3;
    display: grid;
}

.action_close > svg {
    justify-self: center;
    align-self: center;
}

.action_subheader {
    text-align: left;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.action_type { 
}

.action_origin {
}

.action_expand {
    grid-row: 1;
    grid-column: 1;
}

.action_status {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    width: 100%;
    height: 100%;
}

.action_status > svg {
    justify-self: center;
    align-self: center;
}

.action_expand_icon {
    display: grid;
    width: 100%;
    height: 100%;
}

.action_expand_icon > svg {
    justify-self: center;
    align-self: center;
}

.action_type {
    grid-row: 1;
    grid-column: 4;
    text-align: left;
}

.action_duration {
    grid-row: 1;
    grid-column: 5;

    font-size: v_action_duration_fontsize;
    color: v_action_duration_color;
}

.action_detail {

}
