@import "../vars.module.css";

.cmdbar_studio {
    background-color: var(--cmd_bar_bg);
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: calc(2 * 48px) calc(100% - 4 * 48px) calc(2 * 48px);
    box-sizing: border-box;
    border-bottom: 1px solid var(--border_color);
}
.cmdbar_cmdset {
    display: flex;
    flex-direction: row;
}
.cmdbar_cmd {
    width: calc(100% - 2 * var(--cmd_margin));
    height: calc(100% - 2 * var(--cmd_margin));
    display: grid;
    justify-content: center;
    align-items: center;

    color: var(--cmd_fg);
    box-sizing: border-box;
    margin: var(--cmd_margin);
    border-radius: var(--border_radius);
}
.cmdbar_cmd:hover {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
.cmdbar_cmd.active {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
.cmdbar_board {
    background-color: var(--cmd_bar_board_bg);
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto calc(1 * 48px);
    box-sizing: border-box;
    border-left: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}