@value v_border_radius: 8px;
@value v_status_bg: rgb(0, 0, 0);
@value v_status_bg_active: hsl(260, 15%, 10%);
@value v_status_button_margin: 6px;
@value v_status_button_width: 40px;
@value v_status_button_height: 40px;

.container {
    position:relative;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

.floating_status {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: row;
    background: black;
    border-radius: v_border_radius;
}

.status {
    height: v_status_button_height;
    width: v_status_button_width;
    margin: v_status_button_margin;
    box-sizing: border-box;
    border-radius: v_border_radius;
}

.status:hover, .status.active {
    background-color: v_status_bg_active;
    color: v_status_fg_active;
}

.statusicon {
    display: grid;
    width: 100%;
    height: 100%;
}

.statusicon > svg {
    justify-self: center;
    align-self: center;
}

.statuspanel {
    position: absolute;
    right: 0px;
    bottom: 60px;
}

