.grid > .item > div:global(.grid-stack-item-content) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    inset: 0px;
    padding: 10px;
}

.grid
    > .item:global(.ui-draggable-dragging)
    > div:global(.grid-stack-item-content),
.grid
    > .item:global(.ui-resizable-resizing)
    > div:global(.grid-stack-item-content) {
    box-shadow: none;
}
.grid
    > .item:global(.ui-draggable-dragging)
    > div:global(.grid-stack-item-content)::after,
.grid
    > .item:global(.ui-resizable-resizing)
    > div:global(.grid-stack-item-content)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
}

.grid > .item > div:global(.ui-resizable-handle) {
    transform: none;
    background-image: none;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-nw) {
    top: 0;
    left: 0;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-n) {
    top: 10px;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-ne) {
    top: 0;
    right: 0;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-se) {
    right: 0;
    bottom: 0;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-s) {
    bottom: 10px;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-sw) {
    bottom: 0;
    left: 0;
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-ne)::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    width: 5px;
    height: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-nw)::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-se)::after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.grid > .item > :global(.ui-resizable-handle.ui-resizable-sw)::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}
