.list {
    outline: none;
}

.row {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px 120px;
    grid-column-gap: 8px;
    padding: 4px 16px;
    font-size: 75%;
}

.origin {
    text-align: left;
}

.topic {
    text-align: left;
}

.event {
    text-align: left;
}

.timestamp {
    grid-row: 1;
    grid-column: 5;
    display: grid;
    text-align: right;
}

