@value v_nav_bg: rgb(0, 0, 0);
@value v_nav_tab_bg: rgb(0, 0, 0);
@value v_nav_tab_bg_active: rgb(30, 30, 30);
@value v_nav_tab_fb: rgb(255, 255, 255);
@value v_nav_tab_fb_active: rgb(255, 255, 255);

.container {
    display: flex;
    flex-direction: row;

    background-color: v_nav_bg;

    color: rgb(255, 255, 255);

    line-height: 24px;
    text-align: center;
}

.banner {
    font-weight: 500;
    font-size: 0.75em;
    padding: 0 12px;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab_container {
    display: block;
}

.tab {
    position: relative;

    font-weight: 400;
    font-size: 0.75em;
    padding: 0px 12px;

    background-color: v_nav_tab_bg;
    color: v_nav_tab_fg;
    text-decoration: none;
}

.tab > a {
    text-decoration: none;
    color: white;
}

.tab:hover, .tab.active {
    background-color: v_nav_tab_bg_active;
    color: v_nav_tab_fg_active;
}

.tab_name {
    display: block;
}

.wrapper {
    width: 100%;
    height: 100%;
}
