@value v_tab_bg: transparent;
@value v_tab_bg_active: hsl(260, 15%, 10%);
@value v_tab_fg: rgb(255, 255, 255);
@value v_tab_fg_active: rgb(255, 255, 255);
@value v_status_bg: hsl(260, 15%, 20%);
@value v_status_bg_active: hsl(260, 15%, 10%);

.container {
    position:relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 64px calc(100% - 64px);
    height: 100%;
}

.page {
    grid-row: 1;
    grid-column: 2;
}

.navbar {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    background-color: v_nav_bg;
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;

    background-color: hsl(260, 15%, 15%);

    grid-template-rows: 48px auto 48px;
}

.banner {
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: hsl(260, 15%, 20%);
}

.tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tab_navbar {
    display: block;
}

.tab {
    position: relative;
    font-weight: 400;
    font-size: 0.75em;
    background-color: v_tab_bg;
    color: v_tab_fg;
    text-decoration: none;
    height: 48px;
}

.tab_icon {
}

.tab > a {
    width: 100%;
    height: 100%;
    display: grid;
    text-decoration: none;
}

.tab > a > svg {
    justify-self: center;
    align-self: center;
}

.tab:hover, .tab.active {
    background-color: v_tab_bg_active;
    color: v_tab_fg_active;
}

.statuslist {
    background-color: hsl(260, 15%, 20%);
}

.status {
    height: 48px;
    width: 100%;
}

.status:hover, .status.active {
    background-color: v_status_bg_active;
    color: v_status_fg_active;
}

.statusicon {
    display: grid;
    width: 100%;
    height: 100%;
}

.statusicon > svg {
    justify-self: center;
    align-self: center;
}

.statuspanel {
    position: absolute;
    left: 64px;
    bottom: 0px;
    background: red;
}
