@value v_border_radius: 8px;
@value v_border_color: rgb(200, 200, 200);
@value v_node_status_bg: rgb(240, 240, 240);

.container {
    position: relative;
    background-color: rgb(240, 240, 240)
}

.controls {
    top: 16px;
    right: 16px;
    left: unset;
    bottom: unset;
}

.node {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    box-sizing: border-box;
}

.node_header {
    grid-row: 1;
    grid-column: 1;
    display: grid;
}

.node_type {
    border: 1px solid v_border_color;
    border-radius: v_border_radius;
    background: white;
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
    display: grid;
    position: relative;
}

.node_handle_left {
    top: 50%;
    left: -8px;
    background: none !important;
    border: none !important;
}

.node_handle_right {
    top: 50%;
    right: -8px;
    background: none !important;
    border: none !important;
}

.node_icon {
    justify-self: center;
    align-self: center;
}

.node_detail {
    grid-column: 1;
    grid-row: 2;
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto 18px;
    justify-self: center;
}

.node_detail_status {
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

.node_detail_status_spinner {
    justify-self: center;
    align-self: center;
}

.node_detail_label {
    grid-row: 1;
    grid-column: 1;

    text-align: center;
    font-weight: 600;
    font-size: 75%;
    margin-right: 8px;
    justify-self: left;
    align-self: center;
}
