.svg_root {
}

.label {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

.label_type {
}

.node rect {
    fill: none;
}

.edge {
}

.edge path {
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    stroke-linecap: square;
}

