@import "../vars.module.css";

.toolbar {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid var(--border_color);
    background-color: rgb(255, 255, 255);
}

.tool {
    height: 36px;
    width: calc(100% - 8px);
    box-sizing: border-box;
    margin: 4px;
    border-radius: var(--border_radius);
    font-weight: 600;
    color: rgb(166, 166, 166);
    display: grid;
}
.tool:hover {
    background-color: var(--studio_tool_hover_bg);
}
.tool:hover path {
    fill: rgb(255, 255, 255);
}
.tool:hover circle {
    fill: rgb(255, 255, 255);
}
.tool.active {
    background-color: var(--studio_tool_hover_bg);
}
.tool.small_font {
    font-size: 9px !important;
}

.tool_icon {
    justify-self: center;
    align-self: center;
}
.tool_icon path {
    fill: var(--studio_tool_fg);
}
.tool_icon circle {
    fill: var(--studio_tool_fg);
}
.tool_icon.active {
    justify-self: center;
    align-self: center;
}
.tool_icon.active path {
    fill: rgb(255, 255, 255);
}
.tool_icon.active circle {
    fill: rgb(255, 255, 255);
}

.tool_sublist {
    position: absolute;
    top: 48px;
    left: 47px;
    width: 48px;
    height: auto;
    background: var(--studio_tool_sublist_bg);
    border-radius: var(--border_radius);
}

.viztypes {
    grid-row: 2;
    grid-column: 4;
    border-left: 1px solid var(--border_color);
}
.viztypes_charts {
    border-top: 1px solid var(--border_color);
}
.viztype {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    border-radius: var(--border_radius);
}
.viztype:hover {
    background-color: var(--studio_viztype_hover_bg);
}
.viztype_icon {
    justify-self: center;
    align-self: center;
}
.viztype_icon path {
    fill: v_viztype_color;
}
.viztype_icon circle {
    fill: v_viztype_color;
}