@value v_border_radius: 8px;
@value v_border_color: rgb(220, 220, 220);
@value v_tool_hover_bg: rgb(80, 80, 80);
@value v_tool_fg: rgb(80, 80, 80);
@value v_tool_sublist_bg: rgb(80, 80, 80);

.toolbar {
    position: relative;
    grid-row: 3;
    grid-column: 1;
    border-top: 1px solid v_border_color;
    border-right: 1px solid v_border_color;
    background-color: rgb(255, 255, 255);
}

.tool {
    height: 36px;
    width: calc(100% - 8px);
    box-sizing: border-box;
    margin: 4px;
    border-radius: v_border_radius;
    font-weight: 600;
    color: rgb(166, 166, 166);
    display: grid;
}
.tool:hover {
    background-color: v_tool_hover_bg;
}
.tool:hover path {
    fill: rgb(255, 255, 255);
}
.tool:hover circle {
    fill: rgb(255, 255, 255);
}
.tool.active {
    background-color: v_tool_hover_bg;
}
.tool.small_font {
    font-size: 9px !important;
}

.tool_icon {
    justify-self: center;
    align-self: center;
}
.tool_icon path {
    fill: v_tool_fg;
}
.tool_icon circle {
    fill: v_tool_fg;
}
.tool_icon.active {
    justify-self: center;
    align-self: center;
}
.tool_icon.active path {
    fill: rgb(255, 255, 255);
}
.tool_icon.active circle {
    fill: rgb(255, 255, 255);
}

.tool_sublist {
    position: absolute;
    top: 48px;
    left: 47px;
    width: 48px;
    height: auto;
    background: v_tool_sublist_bg;
    border-radius: v_border_radius;
}