@import '../vars.module.css';

.root {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: minmax(20%, 600px) auto;
}

.account_panel {
    display: grid;
    grid-template-rows: max-content auto;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.github_profile {
    display: grid;
    padding: 16px 8px;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: white;

    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 50% 25% 25%;
}

.github_profile_avatar {
    grid-column: 1;
    grid-row: 1 / span 3;
    padding: 16px;

    display: grid;
    justify-content: center;
    align-items: center;
}

.github_profile_avatar_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--placeholder_avatar_bg);

    display: grid;
    justify-content: center;
    align-items: center;
}

.github_profile_login {
    grid-column: 2;
    grid-row: 1;

    background: var(--placeholder_text_bg);
    border-radius: var(--border_radius);
    padding: 4px 8px;
    margin: 2px 8px;

    font-size: 140%;
    font-weight: 700;
}

.github_profile_name {
    grid-column: 2;
    grid-row: 2;

    background: var(--placeholder_text_bg);
    border-radius: var(--border_radius);
    padding: 4px 8px;
    margin: 2px 8px;
}

.github_profile_stats {
    grid-column: 2;
    grid-row: 3;

    background: var(--placeholder_text_bg);
    border-radius: var(--border_radius);
    padding: 4px 8px;
    margin: 2px 8px;
}

.height100_overflowy {
    height: 100%;
    overflow-y: auto;
}

.account_analytics {
}

.account_analytics_header {
    padding: 16px 16px 0px 16px;
    font-size: 110%;
    background-color: white;
}

.account_analytics_map {
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid var(--border_color);
    height: 140px;
    background-color: white;
}

.account_analytics_timeseries {
    font-size: 100%;
    padding: 16px 20px 16px 20px;
    border-bottom: 1px solid var(--border_color);
    background-color: white;
}

.account_analytics_summary {
    background-color: white;
}

.scripts {
    border-left: 1px solid var(--border_color);
    padding: 8px 0px;
}
