@import '../vars.module.css';

.root {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: minmax(30%, 600px) auto;
}

.stats_panel {
    grid-column: 1;
    background: white;
    display: flex;
    flex-direction: column;
}

.stats_task_header {
    padding: 8px 16px 8px 16px;
    font-size: 120%;
}

.stats_task_status {
    border-bottom: 1px solid var(--border_color);
    padding: 2px 0px 8px 0px;
}

.stats_summary_header {
    padding: 16px 16px 0px 16px;
    font-size: 120%;
}

.stats_sessions_timeseries {
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid var(--border_color);
}

.stats_sessions_geo_container {
    padding: 16px 16px 16px 16px;
    height: 180px;
    width: 100%;
}

.stats_sessions_geo_map {
    border: 1px solid var(--border_color);
    border-radius: var(--border_radius);
    background-color: rgb(240, 240, 240);
}

.scripts_panel {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(200, 200, 200);
}
