@import '../vars.module.css';

.root {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: minmax(30%, 600px) auto;
}

.stats_panel {
    grid-column: 1;
    background: white;
    display: flex;
    flex-direction: column;
}

.stats_task_header {
    padding: 8px 16px 8px 16px;
    font-size: 120%;
}

.stats_task_status {
    border-bottom: 1px solid var(--border_color);
    padding: 2px 16px 8px 0px;
}

.stats_summary_header {
    padding: 16px 16px 0px 16px;
    font-size: 120%;
}

.stats_sessions_timeseries {
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid var(--border_color);
}

.stats_sessions_geo_map_labeled {
    padding: 12px 16px 16px 38px;
    height: 140px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--border_color);
}

.stats_sessions_geo_map_label {
    transform-origin: top left;
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: 70%;
    font-weight: 700;
    transform: rotate(-90deg) translateX(-50%);
}

.stats_sessions_geo_map_container {
    height: 100%;
    width: 100%;
}

.stats_sessions_geo_map {
    border: 1px solid hsl(210deg, 12%, 76%);
    border-radius: var(--border_radius);
    background-color: rgb(240, 240, 240);
}

.scripts_panel {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(200, 200, 200);
}
