@import '../vars.module.css';

.explorer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.program_page {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.program_info_and_actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--border_color);
}

.program_info {
    flex: 1;
    margin-top: 8px;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 80px max-content max-content;
}

.program_info_avatar {
    grid-row: 1 / span 2;
    grid-column: 1;

    margin-top: 8px;
    margin-bottom: 16px;

    display: grid;
    align-items: start;
    justify-content: center;
}

.program_info_avatar_icon {
    border-radius: 50%;
    background-color: var(--placeholder_avatar_bg);
    width: 44px;
    height: 44px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.program_info_name {
    grid-row: 1;
    grid-column: 2;

    margin-top: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}

.program_info_name_namespace {
    margin-right: 4px;
}

.program_info_name_file {
    margin-left: 4px;
    font-weight: 700;
}

.program_info_description {
    grid-row: 2;
    grid-column: 2 / span 2;
    font-size: 95%;
    margin-top: 4px;
    margin-bottom: 16px;
}

.program_info_beans {
    grid-row: 1;
    grid-column: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.program_info_bean {
    font-size: 85%;
    color: rgb(100, 100, 100);
    height: auto;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
    padding: 0px 4px;
    margin-left: 4px;
}

.program_actions {
    grid-row: 1;
    grid-column: 2;
}

.program_action {
    height: 40px;
}

.program_stats {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--border_color);
    display: grid;
    grid-template-rows: 100%;
}

.program_editor {
    flex: 1;
    position: relative;
}

.program_editor_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.board {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.board_cmdbar {
    height: 48px;
    background-color: var(--cmd_bar_board_bg);
    display: grid;
    grid-template-columns: auto min-content;
    box-sizing: border-box;
    border-left: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}

.board_editor {
    position: relative;
    display: flex;
    flex-flow: column;
    grid-row: 2;
    height: 100%;
    background-color: var(--explorer_board_bg);
    border-left: 1px solid var(--border_color);
}
