html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-app-region: drag;

    font-family: 'Nunito';
    font-size: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
}

body > div { width: 100%; height: 100%; }
