.launcher {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    background-color: var(--launcher_bg);
    color: rgb(255, 255, 255);
}

.inner {
    display: flex;
    flex-direction: column;
}

.logo {
    display: grid;
    align-items: center;
    justify-content: center;
}

.steps {
    margin-top: 20px;

    display: grid;
    grid-template-columns: 48px max-content max-content;
}

.step_status {
    grid-column: 1;

    display: grid;
    align-items: center;
    justify-content: center;
}

.step_name {
    grid-column: 2;

    display: grid;
    align-items: center;
    justify-content: start;
}

.step_status_text {
    font-family: 'RobotoMono';
    font-size: 90%;
    grid-column: 3;
    margin: 0px 0px 0px 32px;
    width: 4.4em;

    display: grid;
    align-items: center;
    justify-content: start;

    color: rgb(230, 230, 230);
}
