:root {
    --error_fg: #c41a16;
    --action_duration_color: rgba(255, 255, 255, 0.6);
    --action_panel_bg: rgb(36, 41, 46);
    --action_panel_border_radius: 8px;
    --board_cmd_bg: rgb(255, 255, 255);
    --board_ruler_bg: rgb(255, 255, 255);
    --board_ruler_corner_bg: hsl(210deg 12% 96%);
    --board_ruler_size: 20px;
    --body_bg: hsl(210deg 4% 90%);
    --border_color: rgb(220, 220, 220);
    --border_radius: 6px;
    --button_bar_bg: hsla(210deg 12% 95%);
    --button_bar_border_color: hsl(210deg, 4%, 85%);
    --button_fg: hsl(210deg, 12%, 16%);
    --button_fg_inverted: rgb(255, 255, 255);
    --button_hover_fg: rgb(255, 255, 255);
    --button_hover_fg_inverted: rgb(255, 255, 255);
    --button_hover_bg: hsl(210deg, 12%, 16%);
    --button_hover_bg_inverted: hsl(210deg, 12%, 6%);
    --datagrid_cell_anchor_bg: var(--board_ruler_corner_bg);
    --datagrid_cell_border: 1px solid rgb(225, 225, 225);
    --datagrid_cell_headers_bg: var(--board_ruler_corner_bg);
    --datagrid_cell_headers_border: 1px solid rgb(215, 215, 215);
    --datagrid_cell_headers_fg: rgb(0, 0, 0);
    --datagrid_cell_nodata_bg: rgb(225, 225, 225);
    --datagrid_col_label_bg: hsl(210deg 12% 85%);
    --datagrid_font_size: 95%;
    --editor_glyph_status_size: 65%;
    --example_border_color: rgb(200, 200, 200);
    --example_card_bg_disabled: hsl(210deg 6% 86%);
    --example_icon_color: rgb(36, 41, 46);
    --explorer_board_bg: var(--body_bg);
    --explorer_tool_fg: rgb(80, 80, 80);
    --explorer_tool_hover_bg: rgb(80, 80, 80);
    --explorer_tool_sublist_bg: rgb(80, 80, 80);
    --explorer_viztype_fg: rgb(255, 255, 255);
    --explorer_viztype_hover_bg: rgb(40, 40, 40);
    --launcher_bg: rgb(36, 41, 46);
    --log_timestamp_color: rgba(255, 255, 255, 0.6);
    --minibar_height: 6px;
    --nav_bar_bg: hsl(210deg, 12%, 16%);
    --nav_bar_button_margin: 4px;
    --nav_bar_logo_color: rgb(255, 255, 255);
    --nav_bar_width: 64px;
    --nav_bar_height: 48px;
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: hsla(210deg, 12%, 21%);
    --nav_tab_fg: rgb(255, 255, 255);
    --nav_tab_fg_active: rgb(255, 255, 255);
    --page_footer_fg: rgb(200, 200, 200);
    --placeholder_avatar_bg: hsl(210deg 8% 86%);
    --placeholder_script_bg: hsl(210deg 8% 86%);
    --placeholder_text_bg: hsl(210deg 8% 90%);
    --script_entry_header_height: 40px;
    --script_entry_margin: 16px;
    --statsbar_bg: rgb(255, 255, 255);
    --system_bg: hsl(210deg, 12%, 11%);
    --system_bg_active: hsl(210deg, 12%, 6%);
    --system_fg: rgb(255, 255, 255);
    --system_fg_active: rgb(255, 255, 255);
    --system_panel_bg: hsl(210deg, 12%, 16%);
    --system_panel_border_radius: 8px;
    --system_subtitle_color: rgba(255, 255, 255, 0.6);
    --system_subtitle_fontsize: 90%;
    --vizcard_border_color: rgb(200, 200, 200);
    --vizcard_header_bg: hsl(210deg 12% 96%);
    --vizcard_header_border: 1px solid rgb(215, 215, 215);
}

:root {
    --duckdb_table_cell_anchor_bg: hsl(210deg 12% 96%);
    --duckdb_table_cell_border: 1px solid rgb(225, 225, 225);
    --duckdb_table_cell_headers_bg: hsl(210deg 12% 96%);
    --duckdb_table_cell_header_filler_bg: hsl(210deg 12% 85%);
    --duckdb_table_cell_headers_border: 1px solid rgb(215, 215, 215);
    --duckdb_table_cell_headers_fg: white;
    --duckdb_table_cell_nodata_bg: rgb(225, 225, 225);
    --duckdb_table_col_label_bg: hsl(210deg 12% 85%);
    --duckdb_table_col_label_fg: black;
    --duckdb_table_font_size: 95%;
    --duckdb_table_border_radius_nw: 0px;
    --duckdb_table_border_radius_ne: 0px;
    --duckdb_table_border_radius_sw: 8px;
    --duckdb_table_border_radius_se: 8px;
    --duckdb_table_stats_border_radius_sw: 0px;
    --duckdb_table_stats_border_radius_se: 0px;
    --duckdb_table_stats_bg: black;
    --duckdb_table_stats_fg: white;
}
