.container {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
}

.statsbar {
    border-top: var(--datagrid_cell_headers_border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bean {
    padding: 0px 8px;
}
