@import "../../theme.scss";

.grid {
    height: 100%;
    width: 100%;
}

.grid_element {
    width: 300px;
    height: 220px;
    background: rgb(255, 255, 255);
    border-radius: $theme_border_radius; 
    box-shadow: $theme_box_shadow_level_1;
    margin: 40px;

    display: grid;
    grid-template-rows: 32px auto;

    &_header {
        grid-row: 1;
        border-bottom: 1px solid rgb(225, 225, 225);
    }

    &_title {
        line-height: 32px;
        font-size: .75em;
        padding: 0px 8px;
    }

    &_body {
        grid-row: 2;   
    }
}
