:root {
    /* --workbook_body_background_color: hsl(214.29deg 17.95% 92.35%); */
    --workbook_body_background_color: hsl(210, 29%, 97%);
    --workbook_sidebar_background: linear-gradient(to right, hsl(210, 29%, 93%), hsl(210, 29%, 97%));
    /* --workbook_body_background_color: white; */
    --workbook_entry_max_width: 1200px;
    --workbook_list_entry_max_width: 900px;
}


/*
    Mobile Page Layout
    The mobile page layout hides the actions in the header.
*/

@media only screen and (max-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: 100%;

        background-color: white;
        border: 1px solid var(--log_border_color);
        border-radius: var(--border_radius);
        overflow: hidden;
    }
    .header_container {
        grid-row: 1;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: max-content auto max-content max-content;

        border-bottom: 1px solid var(--border_color_primary);
    }
    .header_action_container {
        grid-column: 4;
        height: 100%;
        margin-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
    }
    .header_action_connector {
        color: black !important;
        font-weight: 400 !important;
    }
    .body_action_sidebar {
        display: none;
    }
    .body_container {
        position: relative;
        grid-row: 2;
    }
}

/*
    Desktop Page Layout
    The desktop page presents a sidebar with all useful commands to expose them more directly.
*/
@media only screen and (min-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: max-content 1fr max-content;

        background-color: white;
        border: 1px solid var(--log_border_color);
        border-radius: var(--border_radius);
        overflow: hidden;
    }
    .header_container {
        grid-row: 1;
        grid-column: 1 / span 3;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 120px auto max-content max-content;

        border-bottom: 1px solid var(--border_color_primary);
    }
    .header_action_container {
        display: none;
    }
    .workbook_entry_sidebar {
        grid-row: 2;
        grid-column: 1;
        padding: 16px 0px;

        background: var(--workbook_sidebar_background);
    }
    .body_container {
        position: relative;
        grid-row: 2;
        grid-column: 2;
    }
    .body_action_sidebar {
        grid-row: 2;
        grid-column: 3;
        padding: 8px;
        background-color: var(--workbook_body_background_color);
        padding: 16px 16px 0px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .body_action_sidebar_card {
        border: 1px solid var(--border_color_primary);
        border-radius: var(--border_radius);
        background-color: white;
    }
    .action_list {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        margin: 8px 8px;
    }
    .data_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .project_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .sidebar_connector_selection {
        width: calc(100% - 12px);
        margin-left: 6px;
    }
}

.page_title {
    font-size: 1rem;
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}
.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    margin-right: 8px;
}

.demo_info_card {
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;
    font-size: 0.9rem;
    width: 230px;

    display: flex;
    white-space: wrap;
    min-width: 0;
}


/* 
    The workbook page component has two modes.
    In the `details`-mode, a single script is shown in an expanded detail view.
    In the `collection`-mode, the workbook entries are shown as scrollable list.
*/

/* DetailsMode styles */

@media only screen and (max-width: 1100px) {
    .entry_body_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: var(--workbook_body_background_color);
    }

    .entry_body_card {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1100px) {
    .entry_body_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding: 16px 16px 16px 16px;
        background-color: var(--workbook_body_background_color);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entry_body_card {
        height: 100%;
        width: 100%;
        max-width: var(--workbook_entry_max_width);
        border-radius: var(--border_radius);
        border: 1px solid var(--log_border_color);
        overflow: hidden;
    }
}


.body_action_danger {
    color: #cf222e;
}

.entry_card_container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr;
    background-color: white;
}

.entry_card_header {
    border-bottom: 1px solid var(--border_color_primary);
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    align-items: center;
    padding: 0px 4px;
    column-gap: 8px;
}

.entry_status_indicator_button {
    grid-column: 1;
}
.entry_status_indicator {
}
.entry_status_text {
    grid-column: 2;
}
.entry_card_debug_button {
    grid-column: 4;
}
.entry_card_collapse_button {
    grid-column: 5;
}

.entry_card_tabs {
    position: relative;
    width: 100%;
    height: 100%;
}

.entry_card_tabs_body {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Collection styles */


.collection_body_container {
    height: 100%;
    width: 100%;
    background-color: var(--workbook_body_background_color);
    overflow: auto;
    padding: 16px 16px 16px 16px;
}

.collection_entry_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.collection_entry_card {
    border: 1px solid var(--log_border_color);
    border-radius: var(--border_radius);
    background-color: white;
    width: 100%;
    max-width: var(--workbook_list_entry_max_width);
}

.collection_entry_header {
    border-bottom: 1px solid var(--border_color_primary);
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    align-items: center;
    padding: 0px 4px;
}
.collection_entry_status_indicator_button {
    grid-column: 1;
}
.collection_entry_status_indicator {
}
.collection_entry_status_text {
    grid-column: 2;
}
.collection_entry_expand_button {
    grid-column: 4;
}
.collection_body {
    height: 48px;
}



/* Catalog overlay */
.catalog_overlay_container {
    position: absolute;
    width: auto;
    max-width: calc(100% - 40px);
    top: 0px;

    overflow: hidden;
    background-color: rgba(255, 255, 255, 90%);
    border-left: var(--catalog_default_border_width) solid var(--border_color_primary);
}
.catalog_overlay_drag_resizing {
}
.catalog_overlay_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 36px 1fr;
    grid-template-columns: 100%;
}
.catalog_overlay_header {
    border-bottom: 1px solid var(--border_color_primary);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content 1fr max-content max-content;
    align-items: center;
    column-gap: 4px;
    padding: 0px 4px;
}
.catalog_overlay_header_icon {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 4px;
}
.catalog_overlay_header_text {
    grid-column: 2;
    display: grid;
    font-size: 0.9rem;
    margin-left: 4px;
}
.catalog_overlay_header_info {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content;
}
.catalog_overlay_header_info_anchor {
    grid-row: 1;
    grid-column: 1;
}
.catalog_overlay_header_info_button {
    grid-row: 1;
    grid-column: 1;
}
.catalog_overlay_header_button_unpin {
    grid-column: 4;
}

.catalog_viewer {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}


.catalog_overlay_bean {
    position: absolute;
    top: 20px;
    right: 32px;
}
.catalog_overlay_header_icon {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 4px;
}
.catalog_overlay_header_text {
    grid-column: 2;
    display: grid;
}
