.dashql-tableref-cursor {
    background-color: rgb(220, 220, 220);
}
.dashql-tableref-focus {
    background-color: rgb(240, 240, 240);
}

.dashql-tableref-resolved { }
.dashql-tableref-unresolved > span {
    color: rgb(140, 140, 140) !important;
}

.dashql-colref-cursor { 
    background-color: rgb(220, 220, 220);
}
.dashql-colref-focus {
    background-color: rgb(240, 240, 240);
}

.dashql-colref-resolved { }
.dashql-colref-unresolved > span {
    color: rgb(140, 140, 140) !important;
}

.dashql-error {
    position: relative;
    text-decoration: underline 1px red;
    text-decoration-style: wavy;
}
