.overlay_container {
    display: none;
    position: absolute;

    z-index: 1000;
    border-radius: 6px;
    border: 1px solid var(--border_color_primary);
    background-color: rgb(245, 245, 245);
    min-width: 88px;
    max-width: 200px;
    max-height: 240px;
    overflow: auto;

    font-size: 0.9rem;
}
.list_container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 4px;

    padding-top: 2px;
    padding-bottom: 2px;
}

.candidate_container {
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content;
}
.candidate_container:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border_color_primary);
}

.candidate_name {
    padding-left: 8px;
    padding-right: 8px;
}
.candidate_objects {
}

.object_container {

}

.object_name {
    padding-left: 8px;
    padding-right: 8px;
}
.object_name::before {
    content: '<> ';
}
