.dashql-tableref-cursor {
    background-color: rgb(220, 220, 220);
}
.dashql-tableref-focus {
    background-color: rgb(240, 240, 240);
}

.dashql-tableref-resolved { }
.dashql-tableref-unresolved { }

.dashql-colref-cursor { 
    background-color: rgb(220, 220, 220);
}
.dashql-colref-focus {
    background-color: rgb(240, 240, 240);
}

.dashql-colref-resolved { }
.dashql-colref-unresolved { }

.dashql-error {
    position: relative;
    text-decoration: underline 1px red;
    text-decoration-style: wavy;
}

.dashql-quote-tombstoned {
    color: rgb(160, 160, 160);
    text-decoration: underline 1px rgb(160, 160, 160);
    text-decoration-style: dotted;
}
