.overlay_container {
    position: absolute;

    z-index: 1000;
    border-radius: 6px;
    border: 1px solid var(--border_color_primary);
    background-color: rgb(245, 245, 245);
    min-width: 88px;
    max-width: 200px;
    max-height: 240px;
    overflow: auto;

    font-size: 0.9rem;
}
.list_container {
    display: grid;
    grid-template-columns: auto;
}

.candidate_container {
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 28px auto;
    padding-top: 2px;
    padding-bottom: 2px;
}
.candidate_container:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border_color_primary);
}
.candidate_container.selected {
    background-color: rgba(235, 235, 235, 1.0);
}

.candidate_icon {
    justify-self: center;
    align-self: center;

    border-radius: 3px;
    background-color: hsl(210deg, 12%, 44%);
    width: 20px;
    height: 12px;
    color: white;
    text-align: center;

    font-family: 'Roboto Mono';
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 12px;
}

.candidate_name {
    grid-row: 1;
    grid-column: 2;

    padding-left: 4px;
    padding-right: 8px;
}

.info_container {
    grid-row: 2;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: max-content;
    column-gap: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.75rem;
    align-items: center;
}

.info_nav_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_nav_left {
}
.info_nav_right {
}

.info_selected_count {
    position: relative;
    margin-right: 6px;
}
.info_selected_count::after {
    content: '/';
    position: absolute;
    right: -10px;
}

.info_object_container {
    grid-column: 2;
    justify-self: end;

    display: flex;
    flex-direction: row;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
}
.info_template_container {
    grid-column: 3;
    justify-self: end;

    display: flex;
    flex-direction: row;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
