@import '../../vars.module.css';

.cell {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_border);
    border-right: var(--datagrid_cell_border);
    position: relative;

    display: grid;
    grid-template-columns: 100%;

    font-size: var(--datagrid_font_size);
}

.cell_with_domain {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_border);
    border-right: var(--datagrid_cell_border);
    position: relative;

    display: grid;
    grid-template-columns: auto 56px;
}

.data_value {
    grid-column: 1;

    display: grid;
    align-items: center;
    justify-content: center;

    padding: 0 8px 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data_value_number {
    justify-content: end !important;
    font-weight: 500;
}

.data_value_text {
    justify-content: start !important;
    font-weight: 500;
}

.data_domain {
    grid-column: 2;

    position: relative;
    padding-right: 8px;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_domain_bar {
    flex: 1;
    height: var(--datagrid_domain_bar_height);
    border-radius: calc(var(--datagrid_domain_bar_height) / 2);
    background: rgba(76, 120, 168, 0.2);
    overflow: hidden;
}

.data_domain_bar_fill {
    height: 100%;
    background: rgb(76, 120, 168);
    border-radius: calc(var(--datagrid_domain_bar_height) / 2);
}
