.list {
    background-color: hsl(210deg 12% 93%);
    border-bottom-left-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
}

.hex_row {
    display: grid;
    font-family: 'RobotoMono';
}
.hex_row_offset {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid var(--border_color);
    text-align: center;
}
.hex_row_bytes {
    grid-row: 1;
    grid-column: 2;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid var(--border_color);
    background-color: rgb(255, 255, 255);
}

.hex_row_byte {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.hex_row_byte_block {
    padding-left: 0.75em;
}
.hex_row_byte_focused {
    background: black;
    color: white;
}

.hex_row_ascii {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid var(--border_color);
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.hex_row_ascii_char {
}

.hex_row_ascii_char_focused {
    background: black;
    color: white;
}
