.container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    background-color: var(--vizcard_header_bg);
    display: grid;
    align-items: center;
    justify-items: center;
}

.input_label {
    font-size: 0.8rem;
}
