.container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--border_radius);
    display: grid;
    align-items: center;
    justify-items: center;
}

.input_text {
    border: 1px solid var(--vizcard_border_color) !important;
    background-color: var(--vizcard_header_bg) !important;
    font-size: 0.9rem !important;
}
