.input {
    display: inline-flex;
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
}

.input_fragment {
    border: 0;
    padding: 0;
}
