.DataExplorer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.DataExplorer-Viewer {
    flex: 1;
}

.DataExplorer-Input {
    position: relative;
    flex: 1;
}

.DataExplorer-Input-Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
}

.DataExplorer-Input-Terminal {
    position: absolute;
    top: 20px;
    bottom: 8px;
    right: 16px;
    width: calc(100% - 32px);
    max-width: 800px;
}
