.DataExplorer {
    padding: 16px;
}

.DataExplorer-Viewer {
}

.DataExplorer-Input {
    position: relative;

    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 20px;
}

.DataExplorer-Input-Header {
    height: 100px;
}

.DataExplorer-Input-Terminal {
    height: 240px;
}
