.NavigationBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    background-color: rgb(80, 102, 132);
    color: rgb(255, 255, 255);
}

.NavigationBar-Logo {
    width: 48px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavigationBar-Tabs {
}

