.Router {
    height: 100%;
    width: 100%;
    background-color: rgb(41, 45, 52)
}

.Router > .DataExplorer {
    position: fixed;
    top: 48px !important;
    bottom: 40px !important;
    left: 0;
    right: 0;
}

.Router > .NavigationBar {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 96px !important;
    height: auto;
}

.Router > .StatusBar {
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    height: 24px !important;
}
