.Router {
    height: 100%;
    width: 100%;
}

.Router > .NavigationBar {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 96px !important;
    height: auto;
}

.Router > .StatusBar {
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    height: 24px !important;
}

.Router-Page-Container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(41, 45, 52);
}

.Router-Page {
    width: 80%;
    max-width: 800px;
}
