.SQLLab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.SQLLab-Viewer {
    flex: 1;
}

.SQLLab-Input {
    position: relative;
    flex: 1;
}

.SQLLab-Input-Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
}

.SQLLab-Input-Terminal {
    position: absolute;
    left: 16px;
    top: 20px;
    bottom: 16px;
    right: 8px;
}
