.TabBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 0 0 0;
}

.TabBar-Tab {
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    padding: 16px 0 16px 0;

    font-weight: 500;
    box-sizing: border-box;
    border-radius: 4px;

    color: rgb(31, 17, 58);
}

.TabBar-Tab-Active {
    background-color: rgb(240, 240, 240);
}

.TabBar-Tab-Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TabBar-Tab-Name {
    line-height: 24px;
    text-align: center;
}

