.TabBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px;
}

.TabBar-Tab-Container {
    height: auto;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.TabBar-Tab {
    position: relative;

    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px 0px;

    background-color: rgb(255, 255, 255);
}

.TabBar-Tab-Active {
    background-color: rgb(0, 0, 0)!important;
    color: rgb(255, 255, 255)!important;
}

.TabBar-Tab-Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TabBar-Tab-Name {
    line-height: 24px;
    text-align: center;
}

