.Terminal {
    height: 100%;
    width: 100%;
}

.Terminal-Container {
    border-radius: 4px !important;
    border: solid 4px rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

.xterm-viewport {
    overflow-y: hidden !important;
}

