.Terminal {
    height: 100%;
    width: 100%;
}

.Terminal-Container {
    border-radius: 4px !important;
    border: solid 4px rgb(31, 17, 58);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.xterm-viewport {
    overflow-y: hidden !important;
}

