name: Pull Request

on:
    pull_request:
        branches:
            - 'main'
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    build:
        name: Build
        uses: ./.github/workflows/build.yml
        with:
            # If this is a pull_request event, use the PR head SHA
            commit: ${{ github.event.pull_request.head.sha || github.sha }}
            signed: false
        secrets: inherit
