.label_container {
    position: relative;
}

.label {
    transform-origin: top left;
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: 70%;
    font-weight: 900;
    transform: rotate(-90deg) translateX(-50%);
}

.map_container {
    margin-left: 20px;
    width: calc(100% - 20px);
    height: 100%;
}

.map {
    height: 100%;
    border: 1px solid hsl(210deg, 12%, 76%);
    border-radius: var(--border_radius);
    background-color: rgb(240, 240, 240);
}
