.container {
}

.metric_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--border_color);
}
.metric_row:first-child() {
    border-bottom: none !important;
}

.metric_row_charts {
    height: 80px;
}

.metric_container {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    padding: 4px 16px;
    border-left: 1px solid var(--border_color);
    font-size: 85%;
}
.metric_container:first-child {
    border-left: none !important;
}

.metric_name {
    font-weight: 500;
}

.metric_value {
}

.metric_trend {
    padding: 0px 0px 0px 4px;
}

.chart_container {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border_color);
}

.chart_container:first-child {
    border-left: none !important;
}

.chart_container_pie {
    padding: 8px 16px;
}

.chart_container_dist {
    padding: 4px 8px;
}

.chart {
    width: 100%;
    height: 100%;
}
