.cmdbar_cmdset {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 100%;
    padding: 0px 2px;
}
.cmdbar_cmd {
    width: 40px;
    height: calc(100% - 2 * var(--cmd_margin));
    margin: var(--cmd_margin) calc(var(--cmd_margin) / 2) var(--cmd_margin) calc(var(--cmd_margin) / 2);

    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    color: var(--cmd_fg);
    border-radius: var(--border_radius);
    border: 1px solid var(--cmd_border_color);
    background-color: var(--cmd_bg);
}

.cmdbar_cmd:hover:not(.disabled) {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}

.cmdbar_cmd.disabled {
    border: 1px solid var(--cmd_border_color);
    color: rgb(170, 170, 170);
}

.cmdbar_cmd.active {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
