.cmdbar_cmdset {
    display: flex;
    flex-direction: row;
    align-items: top;
}
.cmdbar_cmd {
    width: 40px;
    height: 36px;
    margin-top: calc((48px - 36px) / 2);
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    color: var(--cmd_fg);
    margin: var(--cmd_margin);
    border-radius: var(--border_radius);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.cmdbar_cmd:hover {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
.cmdbar_cmd.active {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
