.cmdbar_cmdset {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cmdbar_cmd {
    width: 40px;
    height: 36px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    color: var(--cmd_fg);
    margin: var(--cmd_margin);
    border-radius: var(--border_radius);
    border: 1px solid rgb(200, 200, 200);
}
.cmdbar_cmd:hover {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
.cmdbar_cmd.active {
    background-color: var(--cmd_hover_bg);
    color: rgb(255, 255, 255);
}
.cmdbar_board {
    background-color: var(--cmd_bar_board_bg);
    grid-row: 1;
    display: grid;
    grid-template-columns: auto min-content;
    box-sizing: border-box;
    border-left: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}
