.container {
    max-width: 80%;
    max-height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 90%;
}

.header {
    padding: 4px 12px;
    border-bottom: 1px solid var(--border_color);
    background-color: var(--vizcard_header_bg);
    border-radius: var(--border_radius) var(--border_radius) 0 0;
}

.body {
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 48px 0 48px;
}

.detail_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.fork_target_config {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content auto;
}

.fork_target_type {
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    margin: 4px;
    color: rgb(36, 41, 46);
    background-color: var(--vizcard_header_bg);

    display: grid;
    grid-template-columns: 38px auto;
    grid-template-rows: 38px;
    align-items: center;
    justify-items: center;
}

.fork_target_type_icon {
    grid-column: 1;
    grid-row: 1;
}

.fork_target_type_name {
    grid-column: 2;
    grid-row: 1;
    margin-left: 4px;
    margin-right: 12px;
}

.fork_target_detail {
    grid-column: 2;
    grid-row: 1 / span 2;
    padding: 4px;
}
