.container {
    min-width: 40%;
    max-width: 80%;
    max-height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 90%;
}

.header {
    padding: 4px 12px;
    border-bottom: 1px solid var(--border_color);
    background-color: var(--vizcard_header_bg);
    border-radius: var(--border_radius) var(--border_radius) 0 0;
}

.body {
}

.fork_target_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.fork_target {
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    margin: 4px;
    color: rgb(36, 41, 46);
    background-color: var(--vizcard_header_bg);
    display: grid;
    align-items: center;
    justify-content: center;
}
