@import '../vars.module.css';

.container {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
    height: 100%;
}

.page {
    grid-row: 1;
    grid-column: 2;
}

.navbar {
    grid-row: 1;
    grid-column: 1;

    background-color: var(--nav_bar_bg);
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;

    display: grid;
    grid-template-rows: 48px auto 48px max-content;
    grid-template-columns: var(--nav_bar_width);
}

.logo {
    display: grid;
    align-items: center;
    justify-content: center;
    color: white !important;
}

.tabs {
    grid-row: 2;
    align-self: start;
    margin: 16px var(--nav_bar_button_margin) 0 var(--nav_bar_button_margin);
    display: grid;
    grid-template-rows: repeat(3, 40px);
    align-items: center;
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--border_radius);
    background-color: hsl(210deg, 11%, 21%);
}

.tab_navbar {
    display: block;
}

.tab {
    background-color: var(--nav_tab_bg);
    color: var(--nav_tab_fg);
    border-radius: var(--border_radius);
}

.tab_icon {
    color: white;
}

.tab:hover,
.tab.active {
    background-color: var(--nav_tab_bg_active);
    color: var(--nav_tab_fg_active);
}

.account {
    grid-row: 3;
    display: grid;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    color: white;
}

.systemlist {
    grid-row: 4;
    background: var(--system_bg);
    display: grid;
    grid-template-rows: repeat(3, 40px);
    align-items: center;
    margin: 4px;
    border-radius: var(--border_radius);
    border: 1px solid rgb(50, 50, 50);
}
