.container {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page_footer_fg);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:not(:first-child) {
    margin-left: 32px;
}

.link {
    font-weight: 500;
    margin-left: 8px;
    text-decoration: none;
    color: var(--page_footer_fg);
}
