@import '../vars.module.css';

.container_local {
    position: relative;
    flex: 1;
    max-width: 240px;

    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 2px 6px 2px 12px;

    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 36px;
    align-items: center;
}

.container_gist {
    position: relative;
    flex: 1;
    max-width: 240px;

    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 2px 6px 0 6px;

    display: grid;
    grid-template-columns: 36px auto max-content;
    grid-template-rows: 36px 36px;
    align-items: center;
}

.command {
    width: 32px;
    height: 28px;
    border-radius: 6px;
    margin: 0 !important;
}

.avatar {
    width: 32px;
    height: 28px;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color);
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80) !important;
}

.body {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.collection {
    padding: 8px 24px;
}

.collection_name {
    font-size: 100%;
    padding: 8px 0px;
}

.collection_grid {
    display: flex;
    flex-direction: row;
}

.collection_grid_placeholder {
    max-width: 400px;
    padding: 32px;
    background: var(--placeholder_script_bg);
    border: 1px solid rgb(180, 180, 180);
    border-style: dashed;
    border-radius: 16px;
    display: grid;
    align-items: center;
    justify-content: center;
}
