@import '../vars.module.css';

.container {
    flex: 1;
    min-width: 120px;
    max-width: 240px;
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    margin-right: var(--script_entry_margin);
    margin-bottom: var(--script_entry_margin);
    display: flex;
    flex-direction: column;
}

.header_local {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: var(--script_entry_header_height);
    align-items: center;
}

.header_gists_owned {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: var(--script_entry_header_height);
    align-items: center;
    border-radius: var(--border_radius) var(--border_radius) 0 0;
}

.header_gists {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--script_entry_header_height) auto;
    align-items: center;
    border-radius: var(--border_radius) var(--border_radius) 0 0;
}

.command {
    width: 28px;
    height: 32px;
    border-radius: 6px;
    margin: 4px 4px 4px 4px;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 8px;
}

.title {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.title_namespace {
    font-weight: 500;
    align-items: center;
    overflow: hidden;
}

.title_name {
    font-weight: 500;
    align-items: center;
    overflow: hidden;
}

.gist_info {
    position: relative;
    width: 100%;
    height: 28px;
    border-top: 1px solid var(--border_color);
    border-radius: 0px 0px var(--border_radius) var(--border_radius);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    background-color: hsl(210deg 12% 96%);
}

.gist_info_entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gist_info_entry:not(:first-child) {
    border-left: 1px solid var(--border_color);
}

.gist_info_entry_icon {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
}

.gist_info_entry_value {
    margin-left: 8px;
}

.collection {
    padding: 8px 24px;
}

.collection_name {
    font-size: 100%;
    padding: 8px 0px;
}

.collection_grid {
    display: flex;
    flex-direction: row;
}

.collection_grid_placeholder {
    max-width: 400px;
    padding: 32px;
    background: var(--placeholder_script_bg);
    border: 1px solid rgb(180, 180, 180);
    border-style: dashed;
    border-radius: 16px;
    display: grid;
    align-items: center;
    justify-content: center;
}
