@import '../vars.module.css';

.container {
    flex: 1;
    max-width: 240px;
    background-color: white;
    border-radius: var(--border_radius);
    border: 1px solid var(--vizcard_border_color);
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
    margin-bottom: 8px;
}

.header_local {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 36px;
    align-items: center;
}

.header_gists_owned {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 36px 36px;
    align-items: center;
}

.header_gists {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto auto;
    align-items: center;
}

.command {
    width: 32px;
    height: 28px;
    border-radius: 6px;
    margin: 4px 4px 4px 4px;
}

.avatar {
    width: 32px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid hsl(210deg, 12%, 76%);
    overflow: hidden;
    margin-left: 4px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
}

.settings {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80) !important;
}

.body {
    grid-column: span 3;
    position: relative;
}

.collection {
    padding: 8px 24px;
}

.collection_name {
    font-size: 100%;
    padding: 8px 0px;
}

.collection_grid {
    display: flex;
    flex-direction: row;
}

.collection_grid_placeholder {
    max-width: 400px;
    padding: 32px;
    background: var(--placeholder_script_bg);
    border: 1px solid rgb(180, 180, 180);
    border-style: dashed;
    border-radius: 16px;
    display: grid;
    align-items: center;
    justify-content: center;
}
