.system_button {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border_radius);
}

.system_toggle {
    display: grid;
    width: 100%;
    height: 100%;
}

.system_toggle:hover {
    background-color: var(--system_bg_active);
    color: var(--system_fg_active);
    border-radius: var(--border_radius);
}

.system_icon {
    justify-self: center;
    align-self: center;
}

.system_panel {
    position: absolute;
    left: 80px;
    bottom: 16px;
    width: 500px;
    height: 400px;
}
