.system_button {
    height: var(--system_button_height);
    margin: var(--system_button_margin);
    box-sizing: border-box;
}

.system_button_light {
    border-radius: var(--border_radius);
    background-color: var(--cmd_bg);
    border: 1px solid var(--cmd_border_color);
}

.system_button:hover,
.system_button.active {
    background-color: var(--system_bg_active);
    color: var(--system_fg_active);
}

.system_toggle {
    display: grid;
    width: 100%;
    height: 100%;
}

.system_icon {
    justify-self: center;
    align-self: center;
}

.system_panel {
    position: absolute;
    left: 80px;
    bottom: 16px;

    width: 500px;
    height: 400px;
}
